@model Blog7.Models.MainVM


<div class="fr-wrapper displayPostCustomBox">

    <div class="fr-element fr-view">

        <div class="d-flex justify-content-between rounded-1 bg-dark bg-gradient text-light p-2">

            <div>
                <h3>@Model.Post.Title</h3>

                @if (Model.PostCategory != null && !string.IsNullOrEmpty(Model.Post.Category))
                {
                    var categoryIds = Model.Post.Category.Split(',').Select(x => x.Trim());

                    <div class="d-flex">
                        @foreach (var item in Model.PostCategory)
                        {
                            if (categoryIds.Contains(item.Id.ToString()))
                            {
                                <p>@item.CategoryName&nbsp;&nbsp;</p>
                            }
                        }
                    </div>

                }

            </div>

            <div class="d-flex displayPostCustomHeader">

                <div class="mx-3 displayPostCustomDate">@Model.Post.CreatedAt.ToString("dd MMM yyyy - HH:mm")</div>

                <span data-value="@Model.Post.Id" class="material-symbols-outlined displayPostCustomDeletePost">
                    delete
                </span>

                <div class="displayPostCustomDeletePostConfirmBox">

                    <div class="acceptDeletePost">
                        <span class="material-symbols-outlined">
                            done
                        </span>
                    </div>

                    <div class="cancelDeletePost">
                        <span class="material-symbols-outlined">
                            close
                        </span>
                    </div>

                </div>

            </div>

        </div>

        <div class="mt-5">
            @Html.Raw(Model.Post.Content)
        </div>

    </div>
</div>
